<footer class="main-footer">
    <strong>
        CopyRight 2022
      <a href="https://mrpartmaker.ir">MrPartMaker</a>.
    </strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
</footer>