<a class="cart-btn" style="padding: 0; margin: 0;">
    <button type="submit" class="noneBtn" style="width: 100%; height: 100%;padding: 10px 20px;">
      <i class="fas fa-shopping-cart"></i> افزودن به سبد خرید
    </button>
</a>